*{
    margin: 0;
}

.container {
      background-color: gold;
      padding: 10px;
      display: flex;
      gap: 15px;
      color: white;
      margin: 500;
      justify-content: flex-end;
}

img{
    justify-content: auto;
}

p {
    padding: 0 100px;
}

li {
    list-style: none;
    display: flex;
    justify-content: auto;
}

.home {
    color: red;
    }

.about {
    color:black;

    }

.contact {
    color: green;

    }

.service {
    color: crimson;

    }